* {
    box-sizing: border-box;
    direction: rtl;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
/**************start fontFace****************/
@font-face {
    font-family: 'Droid_Bold';
    src: url(../fonts/DroidKufi-Bold.ttf);
}
@font-face {
    font-family: 'Droid_Regular';
    src: url(../fonts/DroidKufi-Regular.ttf);
}
@font-face {
    font-family: 'sego_ui';
    src: url(../fonts/SEGOEUI.TTF);
}
/* .Rectangle_1 {
    border-radius: 27px;
    background-image: -moz-linear-gradient( -180deg, rgb(255,180,0) 0%, rgb(244,92,67) 100%);
    background-image: -webkit-linear-gradient( -180deg, rgb(255,180,0) 0%, rgb(244,92,67) 100%);
    background-image: -ms-linear-gradient( -180deg, rgb(255,180,0) 0%, rgb(244,92,67) 100%);
    box-shadow: 0px 17px 27px 0px rgba(21, 20, 76, 0.27);
    position: absolute;
    left: 1122px;
    top: 4531px;
    width: 170px;
    height: 55px;
    z-index: 264;
  }
   */
.DroidBold {
    font-family: 'Droid_Bold';
}
.DroidRegular {
    font-family: 'Droid_Regular';
}
.segoui {
    font-family: 'sego_ui';
}
.upperCase {
    text-transform: uppercase;
}
/**************end fontFace****************/
/* most user */
:root {
    --pargraph-color: #677897;
    --head-color: #4d63d5;
}
.headerColor {
    color: var(--head-color) !important;
}
.blockColor {
    color: var(--pargraph-color);
}
body {
    background: url(../images/background/sss_03.png) no-repeat;
    background-size: 53%;
}
/* .container {
    width: 58%;
} */
/**************start scrollBar****************/
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2a91cd;
}
.infoBlock {
    font-size: 12px;
    line-height: 25px;
}
/**************end scrollBar****************/
/**************start navbar****************/
nav {
    background-color: transparent;
    box-shadow: none;
    padding: 39px 0
}
nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
    line-height: 0 !important;
    height: 0px !important;
}
nav ul a {
    font-size: 13px;
    line-height: 36px;
    transition: all 0.5s !important; -webkit-transition: all 0.5s !important; -moz-transition: all 0.5s !important;
}
.side-nav li>a>i,
.side-nav li>a>[class^="mdi-"],
.side-nav li>a li>a>[class*="mdi-"],
.side-nav li>a>i.material-icons {
    float: none;
}
nav ul a:hover {
    background-color: white !important;
    color: var(--head-color);
    border-radius: 50px !important;
}
.brand-logo {
    background: url(../images/logos/logo.png) no-repeat;
    width: 143px;
    height: 47px;
    background-size: 100% 100%;
    outline: none;
}
/**************end navbar****************/
.imgBlock img {
    width: 350px;
    height: 355px;
}
.weclomeBlock {
    margin: 51px auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.welcomheader h5 {
    margin-bottom: 30px;
}
/* .weclomeTextBlock {
    padding: 162px 0 !important;
} */
.headerBlock {
    background: url('../images/header.png') no-repeat;
    background-size: 100% 100%;
    height: 96px;
    width: 96px;
    padding: 20px 0;
    margin-bottom: 30px;
}
.headerBlock h5 {
    font-size: 27px;
}
.ourvision {
    margin-bottom: 70px;
}
.whoWeareBtnBlock {
    margin: 51px auto;
}
.whoWeareBtn {
    border-radius: 50px;
    height: 43px;
    padding: 3px 2rem;
    background-color: #514dd0;
}
/* start our servces */
.ourServices {
    background: url(../images/bgservices.png) no-repeat #f5f5fc;
    background-position: center 20%;
    text-align: center;
    padding: 100px 0;
}
.HeaderBlock h6 {
    line-height: 49px;
    text-align: center;
}
.serviceitem {
    background: url('../images/decorbg.png') no-repeat #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    background-position: center;
    box-shadow: 0px 0px 21px 0px rgba(81, 78, 208, 0.15);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-position: 38%;
}
.serviceitem h6 {
    font-size: 12px;
}
.serviceitem i {
    display: block;
    height: 106px;
    width: 107px;
    margin: 51px auto;
}
.center-col {
    display: flex;
    justify-content: center;
    margin-right: -18px;
    margin-left: -18px;
}
.center-col .col {
    margin-left: 0 !important;
}
.ecommerse {
    background: url('../images/icons/commerse.png') no-repeat;
}
.elec-shop {
    background: url('../images/icons/elec-shop.png') no-repeat;
}
.mopilApp {
    background: url('../images/icons/mopileapp.png') no-repeat;
}
.webdesign {
    background: url('../images/icons/webdesign.png') no-repeat;
}
.productdeve {
    background: url('../images/icons/productdev.png') no-repeat;
}
.lowspeach {
    background: url('../images/icons/lowspeach.png') no-repeat;
}
.e-commerse {
    background: url('../images/icons/e-commerse.png') no-repeat;
}
.serviceitem img {}
/* start our partner */
.ourPartner {
    background: url(../images/background/ourpartnerBg.png) no-repeat;
    padding: 55px 0;
    background-size: 100% 100%;
}
.partnersLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.partnersLogo .img {
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    background-color: #a0a8ac;
    width: 137px;
    height: 34px;
    cursor: pointer;
}
.partnersLogo .puma {
    -webkit-mask-image: url(../images/logos/puma.png);
}
.partnersLogo .microsoft {
    -webkit-mask-image: url(../images/logos/microsoft.png);
}
.partnersLogo .facebook {
    -webkit-mask-image: url(../images/logos/facebook.png);
}
.partnersLogo .twiiter {
    -webkit-mask-image: url(../images/logos/twitter.png);
}
.partnersLogo .google {
    -webkit-mask-image: url(../images/logos/google.png);
}
.partnersLogo .twiiter:hover {
    background-color: #33ccff;
}
/* end our partner */
/* start our work */
.ourWork {
    background: url(../images/background/ourWorkBg.png) no-repeat;
    padding: 55px 0;
    background-size: 100%;
}
.tabsBlock {
    width: 80%;
    margin: auto;
}
.mix {
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient(0deg, rgb(88, 37, 199) 0%, rgb(77, 99, 213) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(88, 37, 199) 0%, rgb(77, 99, 213) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(88, 37, 199) 0%, rgb(77, 99, 213) 100%);
    opacity: 0.651;
    border-radius: 10px;
    display: none;
    transition: all 0.5s !important; -webkit-transition: all 0.5s !important; -moz-transition: all 0.5s !important;

}
.tabsBlock ul {
    background-color: #f2f2ff;
    border-radius: 50px;
    background-color: #f2f2ff;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    border: 1px solid rgb(227, 227, 238);
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-item {
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;

}
.gallery-image {
    display: block;
    width: 396px;
    height: 294px;
    object-fit: cover;
    transition: transform 400ms ease-out;
    border-radius: 10px;
    transition: all 0.5s !important; -webkit-transition: all 0.5s !important; -moz-transition: all 0.5s !important;


}
.gallery-item:hover .overlay {
    display: block;

}
.tabsBlock ul li {
    display: inline-block;
    cursor: pointer;
    line-height: 37px;
    text-align: center;
}
.tabsBlock ul li.selected {
    background-color: #514dd0;
    color: white !important;
    padding: 2px 7px;
    border-radius: 50px;
}
#Container .mix {
    display: none;
}
/* end our work */
/* start stepsBlock */
.stepsBlock {
    background-color: #f2f2ff;
    padding: 55px 0;
}
.stepBlock {
    border-radius: 10px;
    box-shadow: 0px 17px 27px 0px rgba(81, 78, 208, 0.15);
    position: relative;
    background: url('../images/circle.png') no-repeat rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 17px 27px 0px rgba(81, 78, 208, 0.15);
    padding: 10px 95px 10px 40px;
    position: relative;
    background: url(../images/circle.png) no-repeat rgb(255, 255, 255);
    /* position: absolute; */
    background-position: 112%;
    background-size: 21% 122%;
}
.stepBlock::before{
    content: '';
    display: block;
    position: absolute;
    right: 6px;
    top: 15px;
  
    height: 46px;
    width: 46px;
    
}
.stepBlock.stepone::before{
    background: url('../images/icons/step1.png') no-repeat;
    background-size: 100% 100%;
}
.stepBlock.steptwo::before{
    background: url('../images/icons/step2.png') no-repeat;
    background-size: 100% 100%;
}
.stepBlock.stepthree::before{
 
    background: url('../images/icons/step3.png') no-repeat;
    background-size: 100% 100%;
}
.stepBlock.stepfour::before{
 
    background: url('../images/icons/step4.png') no-repeat;
    background-size: 100% 100%;
}
.orderBtn {
    background-image: -moz-linear-gradient(-180deg, rgb(255, 180, 0) 0%, rgb(244, 92, 67) 100%);
    background-image: -webkit-linear-gradient(-180deg, rgb(255, 180, 0) 0%, rgb(244, 92, 67) 100%);
    background-image: -ms-linear-gradient(-180deg, rgb(255, 180, 0) 0%, rgb(244, 92, 67) 100%);
    box-shadow: 0px 17px 27px 0px rgba(21, 20, 76, 0.27);
    border-radius: 50px;
    height: 43px;
    padding: 3px 2rem;
}
.productBlock {
    background-image: linear-gradient(to right, #f0cf5c, #ec7b45);
    box-shadow: 0px 17px 27px 0px rgba(81, 78, 208, 0.15);
    padding: 43px 38px;
    border-radius: 5px;
    margin: 20px auto;
}
.productBlockimg {
    margin: auto;
    width: 147px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 21px 0px rgba(81, 78, 208, 0.15);
}
.customerelation {
    background-image: -moz-linear-gradient(180deg, rgb(245, 100, 61) 0%, rgb(240, 225, 70) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(245, 100, 61) 0%, rgb(240, 225, 70) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(245, 100, 61) 0%, rgb(240, 225, 70) 100%);
}
.stores {
    background-image: -moz-linear-gradient(180deg, rgb(228, 51, 135) 0%, rgb(251, 196, 106) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(228, 51, 135) 0%, rgb(251, 196, 106) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(228, 51, 135) 0%, rgb(251, 196, 106) 100%);
}
.shippingApps {
    background-image: -moz-linear-gradient(180deg, rgb(153, 234, 225) 3%, rgb(78, 91, 212) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(153, 234, 225) 3%, rgb(78, 91, 212) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(153, 234, 225) 3%, rgb(78, 91, 212) 100%);
}
.productBlockimg img {
    height: 107px
}
/* end stepsBlock */
/* start contactUs */
.contactUs {
    background-color: #562fca;
    padding: 55px 0;
}
::placeholder {
    color: white;
}
form input[type=text] {
    border: 1px solid #6e60d6 !important;
    padding: 6px 0 !important;
    padding-right: 20px !important;
    border-radius: 29px !important;
}
.contactUs h4 {
    margin-top: 29px;
}
.contactUs input.messgetext {
    padding: 27px 0 !important;
    padding-right: 20px !important;
}
.contactInfo {
    margin-top: 50px;
}
.contactInfo>div {
    margin: 24px 0;
}
.contactInfo i {
    vertical-align: middle;
    border-radius: 5px;
    padding: 2px;
    color: #ffff;
    margin-left: 10px;
}
.submitbtn {
    transform: rotate(240deg);
}
/* end Contact Us */
/* start footerBlock */
.footerBlock {
    padding: 85px 0;
}
.logoBlock{
    width: 70%;
}
.footerBlock img {
    margin-bottom: 20px;
}
.footerBlock h6 {
    margin-bottom: 20px;
}
.footerBlock h6:nth-child(1) {
    margin-bottom: 20px;
}
.socialIcon {
    margin: 10px 0;
}
.socialIcon a {
    margin: 3px;
}
.socialIcon i {
    font-size: 20px;
}
/* end footerBlock */
/* start cpryRtight */
.cpyRight {
    background-color: #9b9bc6;
    padding: 15px 0;
}
/* end cpyright */
/*************************** media query ************************/
@media (max-width: 575.98px) {
    body {
        background-size: 69%;
    }
    .imgBlock {
        display: none;
    }
    .wid100 {
        width: 100%;
    }
    .whoWeareBtnBlock {
        text-align: center;
    }
    .serviceitem i {
        height: 48px;
        width: 56px;
        margin: 13px auto;
        background-size: 100% 100%
    }
    .partnersLogo .img {
        margin: 20px auto;
    }
    .weclomeBlock {
        display: block;
    }
    .ourPartner .partnersLogo {
        margin-left: 0;
        margin-right: 0;
    }
    .center-col {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .serviceitem {
        padding: 9px;
    }
    .gallery-image {
    width: 100%;
    height: 231px;
    }
    .tabsBlock{
        width: 100%;
    }
    .tabsBlock ul li{
        line-height: 19px;
        font-size: 12px;
    }
    .productBlock{
        width: 81%;
    }
    .footerBlock {
        text-align: center;
    }
    .logoBlock{
        width: 100%;
    }
    .stepBlock{
        margin: 20px auto;
        background-size: 28% 122%;
    }
    .stepBlock::before{
        right: 3%;
        top: 24%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .imgBlock {
        display: none;
    }
    .wid100 {
        width: 100% !important;
    }
    .weclomeBlock {
        display: block;
    }
    body {
        background-size: 71%;
    }
    .serviceitem i {
        height: 84px;
        width: 84px;
        margin: 32px auto;
        background-size: 100% 100%;
    }
    .ourPartner .partnersLogo {
        margin-left: 0;
        margin-right: 0;
    }
    .partnersLogo {
        flex-wrap: nowrap;
    }
    .partnersLogo .img {
        width: 92px;
        height: 20px;
    }
    .center-col {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .serviceitem {
        padding: 7px;
    }
    .gallery-image{
        width: 224px;
        height: 231px;
    }
    .tabsBlock{
        width: 100%;
    }
    .tabsBlock ul {
        padding: 17px 0;
    }
    .tabsBlock ul li{
        line-height: 19px;
        font-size: 12px;
    }
    .stepBlock{
        margin: 20px auto;
        background-size: 22% 122%;
    }
    .stepBlock::before{
        right: 2%;
        top: 24%;
    }
    .footerBlock {
        text-align: center;
    }
    .logoBlock{
        width: 100%;
    }
    
}
@media (min-width: 628px) and (max-width: 781px) {
    body {
        background-size: 71%;
    }
    .welcomheader {
        margin-top: 93px;
    }
    .serviceitem i {
        height: 84px;
        width: 84px;
        margin: 32px auto;
        background-size: 100% 100%;
    }
    .partnersLogo {
        flex-wrap: nowrap;
    }
    .partnersLogo .img {
        width: 93px;
        height: 20px;
    }
    .center-col {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .tabsBlock ul {
        padding: 17px 0;
    }
    .stepBlock{
        margin: 20px auto;
    }
    .stepBlock{
        margin: 20px auto;
        background-size: 22% 122%;
    }
    .stepBlock::before{
        right: 2%;
        top: 24%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .imgBlock img {
        width: 315px;
        height: 313px;
        margin-top: 16%;
    }
    body {
        background-size: 73%;
    }
    .serviceitem i {
        height: 84px;
        width: 84px;
        margin: 32px auto;
        background-size: 100% 100%;
    }
    .partnersLogo {
        flex-wrap: nowrap;
    }
    .partnersLogo .img {
        width: 104px;
        height: 28px;
    }
    .center-col {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .gallery-image {
        display: block;
        width: 195px;
        height: 244px;
    }
    .stepBlock{
        margin: 20px auto;
    }
    .stepBlock{
        margin: 20px auto;
        background-size: 19% 122%;
    }
    .stepBlock::before{
        right: 1%;
        top: 24%;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        background-size: 69%;
    }
    .serviceitem i {
        height: 84px;
        width: 84px;
        margin: 32px auto;
        background-size: 100% 100%;
    }
    .partnersLogo {
        flex-wrap: nowrap;
    }
    .partnersLogo .img {
        width: 104px;
        height: 28px;
    }
    .gallery-image {
        display: block;
        width: 195px;
        height: 244px;
    }
    .stepBlock{
        margin: 20px auto;
        background-size: 32% 122%;
    }
    .stepBlock::before{
        right: 5%;
        top: 25%;
    }
}
@media (min-width: 1200px) {
 .gallery-image {
        display: block;
        width: 240px;
        height: 294px;
    
    }  
    .stepBlock{
        margin: 20px auto;
        background-size: 25% 122%;
    }
    .stepBlock::before{
        top: 24%;
    }
}
@media (min-width: 1206px)and (max-width: 1405px) {
    body {
        background-size: 60%;
    }
}
@media (min-width: 1560px){
    .gallery-image {
        display: block;
        width: 330px;
        height: 294px;
    }
    .stepBlock{
        margin: 20px auto;
        background-size: 22% 122%;
    }
    .stepBlock::before{
        top: 24%;
    }
}
